// Card Styles
// -------------------------------------------------- //
.card {
    background: $panel-bg;
    padding: $panel-body-padding;
    margin-bottom: $line-height-computed;
    border: 1px solid $panel-default-border;
    border-radius: $panel-border-radius;
    @include clearfix();
    &>*:first-child {
        margin-top: 0;
    }
    &>*:last-child {
        margin-bottom: 0;
    }
}
