 // Social Media Brand Colors
 $brand-facebook: #3b5b99;
 $brand-twitter: #00c0f7;
 $brand-linkedin: #3185bb;
 $brand-google: #dd4c39;
 $brand-pinterest: #cb2027;
 $brand-yelp: #bf000a;
 $brand-yahoo: #490084;
 $brand-yp: #f2c81b;
 $brand-youtube: #bb0000;
 $brand-instagram: #3f729b;
