// Overlays & Fills
// -------------------------------------------------- //
@mixin fill() {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin overlay($background: rgba(0, 0, 0, 0.5)) {
    @include fill();
    background: $background;
}

@mixin bg-image($position: center center) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: $position;
}
